@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(255, 255, 255);
}

html, body{
    width: 100vw;
    height: 100vh;
}

nav a img{
    width: 150px;
    padding: 10px;
    border-radius: 50%;
}
nav > a > img:hover{
    border: 1px solid white;
    transform: translate(10%, 10%);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.664);
}
main{
    position: relative;
    height: 100%;
    background-image: url(imagens/fundo4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

iframe{
    position: relative;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 66vw;
    height: 58vh;
    position: fixed;
    background-attachment: fixed;

}
img#tablete{
    position: relative;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 81vw;
    height: 64vh;
    position: fixed;
    background-attachment: fixed;   
}

footer{
    padding-top: 5px;
    width: 100vw;
    position: absolute;
    text-align: center;
    background-color: black;
    color: white;
}
footer a{
    color: white;
}
::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}